# ignore All node module files so each user has to install device specfic 
# modules
express_backend/node_modules
express_backend/DownloadedHTML
express_backend/database/*.db
express_backend/WebsiteTempDatabase
database/node_modules

database/Websites
*.DS_Store
node_modules/
*.db